@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}

html {
  @apply scroll-smooth font-roboto h-full;
}

body {
  @apply h-full bg-gray-50 font-roboto transition-colors duration-300;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@utility container {
  @apply mx-auto px-4;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
@utility form-card {
  @apply bg-white shadow-md rounded-lg p-6;
}
@utility form-label {
  @apply block text-sm font-medium text-gray-700;
}
@utility input-field {
  @apply block w-full px-4 py-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
}

@utility table {
  @apply min-w-full divide-y divide-gray-200 border border-gray-200 rounded-lg;
}
@utility table-header {
  @apply bg-gray-50 rounded-t-lg;
}
@utility table-header-cell {
  @apply min-w-2xs px-4 py-3 text-left text-sm font-medium text-gray-700 last:text-center last:min-w-37.5;
}
@utility table-row {
  @apply bg-white;
}
@utility table-row-alt {
  @apply bg-gray-50;
}
@utility table-cell {
  @apply px-4 py-4 whitespace-nowrap last:text-center;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
